.e3_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:832px;
	position:absolute;
}.e3_2 { 
	width:943px;
	height:320px;
	position:absolute;
	left:190px;
	top:256px;
}.e1_3 { 
	width:320px;
	height:320px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/8138755_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_8 { 
	width:583px;
	height:230px;
	position:absolute;
	left:360px;
	top:45px;
}.e2_4 { 
	color:rgba(0, 0, 0, 1);
	width:583px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e3_3 { 
	color:rgba(0, 0, 0, 1);
	width:565px;
	height:110px;
	position:absolute;
	left:0px;
	top:120px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}