<style>
  @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
  .class_copy{
    font-size : 10px;
  }
</style>

<!-- Footer -->

<hr>

<footer>
        <ul style="text-align:right ">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        
        <p class="copyright text-muted">
          <p style="font-family: 'Jeju Gothic', sans-serif; text-align:center ">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p></p>
        </ul>
</footer>
