
/*footer 관련 css*/
a { text-decoration:none } 

/*카피라이트 링크 관련 css*/
.made-with{
    text-align:right;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 15px;
}

/*마우스 오버 시 체리색으로 변경 부분*/
.WIGIT {
    font-family: 'Jeju Gothic', sans-serif;
    color: black;
} 
.WIGIT:hover {
    font-family: 'Jeju Gothic', sans-serif;
    font: bold;
    color: white;
    background-color: #790604;
    padding: 4px 8px;
    border-radius: 15px;
   }
 }