
.ID{
    font : 'Jeju Gothic', sans-serif;
}
.name{
    font : 15px 'Jeju Gothic', sans-serif;
}

.tittle{
    font : bold 30px 'Jeju Gothic', sans-serif;
}

.text{
    font : bold 30px 'Jeju Gothic', sans-serif;
}

#ID{
    width : 20%;
    height : 50px;
    float : left;
}
#name{
    width : 80%;
    height : 50px;
    float : right;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
  .tags li {
    float: left; 
  }
  
  /*태그 바탕 관련*/
  .tag {
    background: #1E96FF;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }
  
  /*왼쪽 점 관련*/
  .tag::before {
    background: #fff;
    color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid 1E96FF;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
  }
  
  .tag:hover {
    background-color: #eee;
    color: white;
  }
  
  .tag:hover::after {
     border-left-color: #eee; 
  }

.list1{
    padding: 5px 0px 8px 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #181a31;
    font-size: 20px;
}

.list-box{
    border: 2px solid white;
    background-color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 15px;

}
.list-tittle{
    font : bold 25px 'Jeju Gothic', sans-serif;
}
.list-text{
    font : 15px 'Jeju Gothic', sans-serif;
}