---
layout: default
---
<style>
  @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
</style>
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="left">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <p style="font-family: 'Jeju Gothic', sans-serif;">
            <h1>의료공학과<br>Jisu 입니다:)</h1>
            {% if site.description %}
            <span class="subheading">Javascript, Androaid Developer<br>and Partissier</span>
            {% endif %}
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </header>

 